@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --background-secondary: 0 0% 98%;
    --foreground: 240 10% 3.9%;
    --foreground-secondary: 240 5% 34%;
    
    /* Add other light theme variables */
  }

  .dark {
    --background: 240 10% 3.9%;
    --background-secondary: 240 10% 5.9%;
    --foreground: 0 0% 98%;
    --foreground-secondary: 240 5% 84%;
    
    /* Add other dark theme variables */
  }
}

@layer utilities {
  .perspective-1000 {
    perspective: 1000px;
  }
  
  .preserve-3d {
    transform-style: preserve-3d;
  }
  
  .backface-hidden {
    backface-visibility: hidden;
  }
  
  .rotate-y-180 {
    transform: rotateY(180deg);
  }
  
  .font-handwriting {
    font-family: 'Caveat', cursive;
  }
} 